name: Deploy docs to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Upload pages artifact
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Upload `docs/` folder as Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
